# MongoDB Connection
MONGODB_URI=enterstring
GOOGLE_GEMINI_API_KEY=AIabc_abc_abc
# Razorpay Payment Gateway
RAZORPAY_KEY_ID=rzp_test_
RAZORPAY_KEY_SECRET=YRL
# prod
GOOGLE_CLIENT_ID=123.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSP-123
NEXTAUTH_SECRET=32stringhard?/e9e
NEXTAUTH_URL=https://asksync.amberbisht.me
